Extras/chatwoot/_Evolution__Configurar_Admin.json
{
  "name": "[Evolution] Configurar Admin",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "api_access_token",
              "value": "CHATWOOT_USER_TOKEN"
            },
            {
              "name": "chatwoot_url",
              "value": "https://CHATWOOT_URL"
            },
            {
              "name": "n8n_url",
              "value": "https://N8N_URL"
            }
          ]
        },
        "options": {}
      },
      "id": "322486a5-e6a7-4af9-8a3f-0ebc444912f0",
      "name": "Info Base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1840,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/1/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"api_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"inbox_id\": {{ $('Cria Inbox Start').item.json[\"id\"] }},\n    \"name\": \"EvolutionAPI\",\n    \"phone_number\": \"+123456\",\n    \"avatar_url\": \"https://evolution-api.com/files/evolution-api-favicon.png\"\n}",
        "options": {}
      },
      "id": "61742c2d-d195-4a68-a2eb-a36839b6376a",
      "name": "Cria Contato Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2240,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/1/inboxes/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"api_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"StartEvolution\",\n    \"channel\": {\n        \"type\": \"api\",\n        \"website_url\": \"\"\n    }\n}",
        "options": {}
      },
      "id": "866ddf42-2d5f-4bf2-8552-2379a5cdc2a5",
      "name": "Cria Inbox Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2040,
        880
      ]
    },
    {
      "parameters": {},
      "id": "f1c2478a-9a1d-4cd4-82de-2002281c020b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1620,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/1/automation_rules/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"api_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"Create Company Chatwoot\",\n    \"description\": \"Create Company Chatwoot\",\n    \"event_name\": \"message_created\",\n    \"active\": true,\n    \"actions\": \n    [\n        {\n            \"action_name\": \"send_webhook_event\",\n            \"action_params\": [\"https://webhooks.n8n.evolution-api.com/webhook/criadorchatwoot\"]\n        }\n    ],\n    \"conditions\": \n    [\n        {\n            \"attribute_key\": \"content\",\n            \"filter_operator\": \"contains\",\n            \"query_operator\": \"and\",\n            \"values\": [\"Tema Criador de Empresa:\"]\n        },\n        {\n            \"attribute_key\": \"phone_number\",\n            \"filter_operator\": \"equal_to\",\n            \"values\": [\"+123456\"]\n        }\n    ]\n}",
        "options": {}
      },
      "id": "e776b87b-57a6-4782-9ad9-cd0000aab29c",
      "name": "Cria Automação Empresas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2440,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/1/automation_rules/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"api_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"Create Inbox EvolutionAPI\",\n    \"description\": \"Create Inbox EvolutionAPI\",\n    \"event_name\": \"message_created\",\n    \"active\": true,\n    \"actions\": \n    [\n        {\n            \"action_name\": \"send_webhook_event\",\n            \"action_params\": [\"{{ $('Info Base').item.json[\"n8n_url\"] }}/webhook/inbox_whatsapp?utoken={{ $('Info Base').item.json[\"api_access_token\"] }}\"]\n        }\n    ],\n    \"conditions\": \n    [\n        {\n            \"attribute_key\": \"content\",\n            \"filter_operator\": \"contains\",\n            \"query_operator\": \"and\",\n            \"values\": [\"start:\"]\n        },\n       \n         {\n            \"attribute_key\": \"phone_number\",\n            \"filter_operator\": \"equal_to\",\n            \"query_operator\": \"or\",\n            \"values\": [\"+123456\"]\n        },\n\n\n        {\n            \"attribute_key\": \"content\",\n            \"filter_operator\": \"contains\",\n            \"query_operator\": \"and\",\n            \"values\": [\"new_instance:\"]\n        },\n        {\n            \"attribute_key\": \"phone_number\",\n            \"filter_operator\": \"equal_to\",\n            \"values\": [\"+123456\"]\n        }\n    ]\n}",
        "options": {}
      },
      "id": "d89ed76c-a5e9-42e6-b55b-e779e9a33a53",
      "name": "Cria Automação Inboxes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2660,
        880
      ]
    },
    {
      "parameters": {
        "content": "## Workflow Para Configurar admin\n**Aqui você prepara o Chatwoot Principal com um usuário (Superadmin) que poderá criar empresas e caixas de entrada**\n**Instruções**\n**No node Info Base, configure as variáveis de seu Chatwoot e N8N**\n**Obs: A variável api_access_token é o token do usuário que irá poder criar as empresas**",
        "width": 1129.7777777777778
      },
      "id": "a4597492-843a-44c7-836a-f30c91d46a20",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        680
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Info Base": {
      "main": [
        [
          {
            "node": "Cria Inbox Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Contato Bot": {
      "main": [
        [
          {
            "node": "Cria Automação Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Inbox Start": {
      "main": [
        [
          {
            "node": "Cria Contato Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Info Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Automação Empresas": {
      "main": [
        [
          {
            "node": "Cria Automação Inboxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "4f0e166f-00fb-4ce6-989e-03c036351e35",
  "id": "HmHVbJIXCOd57rBU",
  "meta": {
    "instanceId": "4ff16e963c7f5197d7e99e6239192860914312fea0ce2a9a7fd14d74a0a0e906"
  },
  "tags": []
}